@page "/index"


@using Dr.Abrishami_Ai.Client.Extention;
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.Authorization;
@attribute [Authorize];

@inject AuthenticationStateProvider authenticationStateProvider;
@inject NavigationManager navManager;





<div class="Left-0 mr-6 w-[100%] h-[100vh] bg-[#666]">

    <AuthorizeView>
        <Authorized>

           @* <h1>Wellcome @context.User.Identity!.Name</h1>*@

        </Authorized>

    </AuthorizeView>

    <SurveyPrompt />
    <QuestionMinimal />


@*
    <div class="grid grid-cols-3 gap-4 fixed top-0 left-0 w-[550px] h-[180px] ">
       

    </div>*@

    <div class="flex flex-col gap-y-3 justify-center pt-[50px] pl-[80px] xl:pl-[600px] xl:pt-[0] xl:-mt-[0px] ">
     <News/>

    </div>
    <div class=" mt-[100px] ml-[100px]">
        <a class=" border border-red-300" @onclick="LogOut" href="javascript:void(0)">Logout</a>


    </div>
    <InformIcon />

</div>

@code {

    private async Task LogOut()
    {
        var authenticationExt = (AuthenticationExtention)authenticationStateProvider;
        await authenticationExt.UpdateAuthentication(null);
        navManager.NavigateTo("/", true);
    }


}