@page "/Question"
<div class="Left-0 mr-6 w-[100%] h-[100vh] bg-[#1b1c20]">

    
    <SurveyPrompt />

    <div class="grid grid-cols-3 gap-4 fixed  w-[550px] h-[180px] ">
        <div class=" p-4"><QuestionComponent /> </div>
        <div class=" p-4 pl-[100px] ml-[200px]"><QuestionComponent /> </div>


    </div>




</div>

