@page "/Question"
<div class="Left-0 mr-6 w-[100%] h-[100vh] bg-[#419197]">

    
    <SurveyPrompt />

    <div class="flex flex-col gap-y-3">
        <div class=""><QuestionComponent /> </div>
        <div class=""><QuestionComponent /> </div>


    </div>




</div>

