@page "/"
@layout Login_LogOut
@inject HttpClient httpClient;
@using Dr.Abrishami_Ai.Client.Extention;
@using Dr.Abrishami_Ai.Shared;
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager navManager

<link rel="stylesheet" href="../Pages/RegisterPage.razor.css">

<section>

    @{
        for(int i = 0 ; i< 259 ; i++)
        {
            <span></span>
        }
    }

    <div class="signin">
        <div class="content">
            <h2>Sign In</h2>
            <div class="form">
                <div class="inputBox">
                    <input type="text" required @bind-value="user.Username">
                    <i>Username</i>
                </div>
                <div class="inputBox">
                    <input type="password" required @bind-value="user.Password">
                    <i>Password</i>
                </div>

                <div class="inputBox">
                    <input @onclick="LoginCheck" type="submit" value="Login">
                </div>
            </div>
        </div>
    </div>
</section>



@code {
    private UserLoginDto user = new UserLoginDto();

    private async Task LoginCheck()
    {
        var loginResponse = await httpClient.PostAsJsonAsync<UserLoginDto>("/api/Auth/Login", user);
        if (loginResponse.IsSuccessStatusCode)
        {
            var sessionAuth = await loginResponse.Content.ReadFromJsonAsync<SessionDTO>();
            var authenticationExt = (AuthenticationExtention)AuthStateProvider;
            await authenticationExt.UpdateAuthentication(sessionAuth);

            navManager.NavigateTo("/index");
        }
    }
}
