
@page "/spacecraft"


@using Dr.Abrishami_Ai.Client.Extention;
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.Authorization;
@attribute [Authorize];

@inject AuthenticationStateProvider authenticationStateProvider;
@inject NavigationManager navManager;





<div class="Left-0 mr-6 w-[100%] h-[100vh] bg-[#666]">

    <AuthorizeView>
        <Authorized>

           @* <h1>Wellcome @context.User.Identity!.Name</h1>*@

        </Authorized>

    </AuthorizeView>

    <SurveyPrompt />
    
    <div class=" fixed -top-[25px] left-[43%] ">

        <img class="  hover:animate-pulse w-[500px] h-[400px]" src="/images/Spacecraft.png" alt="Image description">

    </div>
    <div class=" fixed top-[20px] left-[30px]" >
        <div class=" flex flex-row space-x-8 ">
             <img class=" mt-[23%]  w-[140px] h-[220px]" src="/images/Red.png" alt="Image description">
              <img class="  w-[140px] h-[220px]" src="/images/Green.png" alt="Image description">
               <img class=" mt-[23%] opacity-50 w-[140px] h-[220px]" src="/images/Pink.png" alt="Image description">
        </div>
       @*  <div class=" flex flex-row space-x-12 ">
             <img class="   w-[100px] h-[100px]" src="/images/Ready.png" alt="Image description">
              <img class="  w-[100px] h-[100px]" src="/images/Ready.png" alt="Image description">
               <img class="   w-[100px] h-[100px]" src="/images/NotReady.png" alt="Image description">
        </div>*@
    </div>

        <div class="fixed top-[55%] left-[13%] ">
        <div class="bg-[#222] shadow mt-10 w-[800px] h-[220px] rounded-[20px]">

           
                    <div class="flex items-center justify-evenly pt-[5%] text-base text-gray-600 dark:text-gray-400">
                        <div class="flex items-center">
                            <div class="w-12 h-12 bg-indigo-400 rounded-full flex items-center justify-center text-white text-xl">
                                1
                            </div>
                            <span class="ml-4 font-medium">Level one</span>
                        </div>


                        <div class="h-1 w-16 bg-blue-200 dark:bg-blue-600"></div>
                        <div class="flex items-center">
                            <div class="w-12 h-12 bg-green-400 rounded-full flex items-center justify-center text-white text-xl">
                                2
                            </div>
                            <span class="ml-4 font-medium">Level 2</span>
                        </div>
                    </div>
                    <div class=" ml-[37%] mt-[3%]">
                <MudButton @onclick="Attack" Variant="Variant.Filled"  Style=" width: 200px; height: 45px;" EndIcon="@Icons.Material.Filled.Upgrade" Color="Color.Dark">Go</MudButton>
                    </div>

         


        </div>
    </div>

    <InformIcon />

    @if (isAttackingPage)
    {
        <div class=" fixed top-0 w-[120%] h-[100vh] bg-[#000] inset-0 bg-black opacity-95">

            <div class=" fixed top-[100px] w-[850px] bg-[#222]  h-[510px] shadow mt-10 rounded-[20px] ml-[13%] mt-[45%] opacity-100">

                <div class="ml-[5%]">
                    <button @onclick="Attack" class="cursor-pointer duration-200 hover:scale-125 active:scale-100" title="Go Back">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50px" height="50px" viewBox="0 0 24 24" class="stroke-blue-300">
                            <path stroke-linejoin="round" stroke-linecap="round" stroke-width="1.5" d="M11 6L5 12M5 12L11 18M5 12H19"></path>
                        </svg>
                    </button>
                </div>


                </div>
         </div>
    }

       
     


</div>

<style type="text/css">
    .Direction{
        direction:rtl;
    }

   
</style>


@code {

    public bool isAttackingPage { get; set; } = false;

    public void Attack()
    {
        if (isAttackingPage)
        {
            isAttackingPage = false;
        }
        else
        {
            isAttackingPage = true;
        }
    }


}
