<div class="pt-[50px] pl-[150px]">


    <div class="w-[650px] h-[260px] bg-[#292c31] p-3 flex flex-col gap-1 rounded-br-3xl">
        <div class="duration-500  h-[250px] bg-gray-400  "></div>
        <div class="flex flex-col gap-4">

            <button class="hover:bg-sky-700 text-black bg-[#a4d8d2] py-2 mt-[10px] rounded-br-xl">آپلود جواب</button>
        </div>
    </div>




</div>

