

<div class="card">


    <MudButton Variant="Variant.Filled" Href="Users" Style=" width: 100px; height: 35px;" EndIcon="@Icons.Material.Filled.ShoppingCart" Color="Color.Dark">All Users</MudButton>
</div>

<style type="text/css">
    .card {
        width: 380px;
        height: 254px;
        border-radius: 30px;
        background: #212121;
        box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60);
    }

</style>

@code {

}
