

<div class="ShopItem">
  

        <img class=" w-[100px] h-[100px]" src="/images/Fight.png" alt="Image description">
    <img class=" w-[100px] h-[100px]" src="/images/Kill.png" alt="Image description">
    <img class=" w-[100px] h-[100px]" src="/images/Time.png" alt="Image description">


</div>

<style type="text/css">
    .ShopItem {
        display:flex;
        justify-content:space-around;
        width: 680px;
        align-items:center;
        height: 204px;
        border-radius: 30px;
        background: #212121;
        box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60);
    }

</style>

@code {
 

}
