<!-- start: Sidebar -->
<link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">

<div class="fixed right-0 r-0 top-0 w-64 h-full bg-[#292c31] p-4 z-50 sidebar-menu transition-transform font-semibold">
    <a href="#" class="flex items-center ml-3 pb-4 pt-8 border-b border-b-gray-800">
        
        <span class="text-lg font-bold text-white mr-3 pt-1">تیم شماره یک</span>
        <div class="w-14 h-14 bg-[#6acdee]  rounded-full object-cover"></div>
    </a>
    <ul class="mt-8">
        <li class="mb-1 group ">
            <a href="#" class="flex items-center py-3 px-12  text-[#1b1c20] bg-[#9DB2BF] hover:bg-gray-950 hover:text-gray-100 hover:bg-gray-950 rounded-md group-[.active]:bg-gray-800 group-[.active]:text-white ">
                <span class="text-sm  pr-4">نمایش سوال</span>
                <i class="ri-flashlight-line mr-3 text-lg"></i>
                
            </a>
        </li>
        <li class="mb-1 group ">
            <a href="#" class="flex items-center py-3 px-12 mt-8 text-[#1b1c20] bg-[#9DB2BF]  hover:bg-gray-950 hover:text-gray-100 rounded-md group-[.active]:bg-gray-800 group-[.active]:text-white group-[.selected]:bg-gray-950 group-[.selected]:text-gray-100 sidebar-dropdown-toggle">
               <div>
                    <span class="text-sm pr-4 ml-1">آپلود جواب</span>
                    <i class="ri-upload-cloud-line"></i>
               </div>
              

            </a>

        </li>
        <li class="mb-1 group ">
            <a href="#" class="flex items-center py-3 px-12 mt-8 text-[#1b1c20] bg-[#9DB2BF] hover:bg-gray-950 hover:text-gray-100 rounded-md group-[.active]:bg-gray-800 group-[.active]:text-white group-[.selected]:bg-gray-950 group-[.selected]:text-gray-100 sidebar-dropdown-toggle">
                
                <span class="text-sm pr-0 mr-4 -ml-3"> تاریخچه سوالات</span>
                <i class="ri-history-line"></i>
            </a>

        </li>

        <li class="mb-1 group ">
            <a href="#" class="flex items-center py-3 px-12 mt-8 text-[#1b1c20] bg-[#9DB2BF]  hover:bg-gray-950 hover:text-gray-100 rounded-md group-[.active]:bg-gray-800 group-[.active]:text-white group-[.selected]:bg-gray-950 group-[.selected]:text-gray-100 sidebar-dropdown-toggle">
                
                <span class="text-sm pr-3 -ml-1">ثبت درخواست</span>
                <i class="ri-instance-line mr-3 text-lg"></i>

            </a>

        </li>
        <li class="mb-1 group ">
            <a href="#" class="flex items-center py-3 px-12 mt-8 text-[#1b1c20] bg-[#9DB2BF]  hover:bg-gray-950 hover:text-gray-100 rounded-md group-[.active]:bg-gray-800 group-[.active]:text-white group-[.selected]:bg-gray-950 group-[.selected]:text-gray-100">
               
                <span class="text-sm ml-6 pr-3">تنظیمات</span>
                <i class="ri-settings-2-line mr-3 text-lg"></i>
            </a>
        </li>
    </ul>
</div>
<div class="fixed top-0 left-0 w-full h-full bg-black/50 z-40 md:hidden sidebar-overlay"></div>
